<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Hello Joshua</h1>
  <h3>Form Practice</h3>
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Upload">
  </form>

  <h3>Uploads</h3>
  <ul>
    {% for file in files %}
    <li>
      <a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a>
    </li>
    {% empty %}
    <li>No files uploaded yet.</li>
  </ul>
  {% endfor %}
</body>
</html>