{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Load data</title>
</head>
<body>
  <h1>Name of Customers</h1>
  {% if customers %}
    <ol>
      {% for customer in customers %}
        <li>
          <a href="{% url 'delete-data' customer.id %}">X</a>
          {{ customer.name }} | {{ customer.email }} | {{ customer.number }} |
          {% if customer.profile_pic %}
            <img src="{{ customer.profile_pic.url }}" alt="photo" width="200">
          {% endif %}
          <a href="{% url 'edit-data' customer.id %}">Edit</a>
          
          <!-- Products -->
          <div>          
            {% for product in customer.products.all %}
              {% if product.item %}
                <ul>
                  <li>{{ product.item }}</li>
                </ul>
              {% endif %}
            {% endfor %}
          </div>

          <!-- Photos -->
           <div>
              {% for photo in customer.photos.all %}
                <img src="{{ photo.image.url}}" alt="photo" width="150">
              {% empty %}
                <p>No photos available</p>
              {% endfor %}
           </div>
        </li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No customers</p>
  {% endif %}
  
  <a href="{% url 'add-data' %}">Add Customer</a>
  

</body>
</html>