{% extends 'layouts\_base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}

  <h1>Farm Lists</h1>
  <div class="header">
    {% if user.is_authenticated %}
    <div class="login">
      Hi! {{ user.username }}
      <form action="{% url 'account_logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
      <button><a href="{% url 'account_change_password' %}">Change Password</a></button>
    </div>
    <div class="add">
      <h3>Add new farm</h3>
      <a href="{% url 'add' %}">
        <button>Add</button>
      </a>
    </div>

    {% else %}
      <h3>You are not login</h3>
      <button><a href="{% url 'account_login' %}">Log In</a></button>
      <button><a href="{% provider_login_url 'google' %}">Google</a></button>
      <p>Are you new? Signup bellow</p>
      <button><a href="{% url 'account_signup' %}">Sign Up</a></button>
      <p>Forgot Password?</p>
      <button><a href="{% url 'account_reset_password' %}">Reset</a></button>
    {% endif %}

  </div>
  <div class="list">
    <ul>
      <hr>
      {% for farm in farms %}
      <li>
        {% if user.is_authenticated %}
        <a href="{% url 'edit' farm.id %}">edit</a>
        {% endif %}
        <a href="{% url 'list' farm.id %}">{{farm.name}}</a>
        {{farm.location}} 
        {% if user.is_authenticated %}
        <form action="{% url 'delete' farm.id %}" method="post">
          {% csrf_token %}
          <button type="submit">delete</button>
        </form>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}