{% extends "master.html" %}
{% load static %}

{% block title %}
  Homepage
{% endblock %}

{% block content %}
<!-- insert text -->

<div class="container-fluid p-5">
 <div class="row">
    <div class="container col-8 ps-5 pe-5">
      <h1>Book for Consultation?</h1>

      <form method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
          <label for="first_name" class="form-label">First Name:</label>
          <input type="text" class="form-control" id="first_name" placeholder="Please Enter your First Name Here" name="first_name" required>
        </div>
        <div class="mb-3 mt-3">
          <label for="last_name" class="form-label">Last Name:</label>
          <input type="text" class="form-control" id="last_name" placeholder="Please Enter your Last Name Here" name="last_name" required>
        </div>
        <label for="role" class="form-label">Position:</label>
        <select class="form-select mb-3" name="role" id="role" required>
          <option value="" selected disabled>Please select</option>
          <option value="Student">Student</option>
          <option value="Academic / Researcher">Academic / Researcher</option>
          <option value="GIS Analyst">GIS Analyst</option>
          <option value="GIS Developer">GIS Developer</option>
          <option value="Engineer / Planner">Engineer / Planner</option>
          <option value="Environmental Consultant">Environmental Consultant</option>
          <option value="LGU (Local Government Unit)">LGU (Local Government Unit)</option>
          <option value="National Government Agency (e.g. DENR, NAMRIA, DOST)">National Government Agency</option>
          <option value="NGO / Non-profit Organization">NGO / Non-profit Organization</option>
          <option value="Private Company">Private Company</option>
          <option value="Freelancer">Freelancer</option>
          <option value="Manager / Decision-Maker">Manager / Decision-Maker</option>
          <option value="Urban or Regional Planner">Urban or Regional Planner</option>
          <option value="Utility / Infrastructure Provider">Utility / Infrastructure Provider</option>
          <option value="Disaster Risk Manager">Disaster Risk Manager</option>
          <option value="Other">Other</option>
        </select>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Please Enter your Email Here" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>  

    <div class="container-fluid col-4 bg-body-tertiary">
      <h1>Looking for us?</h1>
      <div id="map" style="height: 400px"></div>
    </div>
  </div>
</div>

  {% if success %}
    <div class="alert alert-success">Thanks for reaching out!</div>
  {% endif %}

  <script src="{% static 'leaflet.js' %}"></script>

{% endblock %}