{% extends "master.html" %} 
{% block title %} Homepage {% endblock %} 

{% block content %}

<!-- insert text -->
<div class="container-fluid p-4">
  <div class="container px-4 px-lg-5">
    <!-- Heading Row -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5 flex-column flex-lg-row">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <div class="ratio ratio-4x3 rounded shadow">
          <iframe
            src="https://joshdels.github.io/WebGIS-Projects-2025/03-Airport-overview/"
            title="TopMap Project"
            allowfullscreen
            style="border: none;">
          </iframe>
        </div>
      </div>
      <div class="col-lg-5 text-center text-lg-start">
        <h1 class="fw-light">TopMap Solutions</h1>
        <p>
          A collection of <strong>Joshua De Leon</strong>'s projects.
          Experience GIS Web Developer / GIS Analyst embarking on a unique
          Geospatial journey.
        </p>
        <a class="btn btn-primary" href="{% url 'contact' %}">
          Want to Consult with me?
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
